.App {
  text-align: center;
}

h1 {
  background-color: hotpink;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: black;
}

button {
  color: hotpink;
  background: black;
}
